{% extends "admin/base.html.twig" %}

{% block container %}
  <div class="lodgings clearfix">
    <div class="lodging-infos col-xs-12 col-md-6">
      <b>INFORMATIONS</b> 
      <form action="{{ path_for('admin_lodginginfos_save') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{ infos.id }}" name="id">
        <div class="row">
          <label for="description">Description</label><br />
          <textarea type="text" name="description">{{ infos.description }}</textarea>
        </div>
        <div class="row">
          <label for="equipement">Equipements disponible</label><br />
          <textarea type="text" name="equipement">{{ infos.equipement }}</textarea>
        </div>
        <div class="row">
          <label for="espace">Espaces communs</label><br />
          <textarea type="text" name="espace">{{ infos.espace }}</textarea>
        </div>

        <button class="btn btn-success">Sauvegarder</button>
      </form>
    </div>
    <div class="lodgings-list list col-xs-12 col-md-6">
      <b>HEBERGEMENTS</b>
      <a href="{{ path_for('admin_lodging_create') }}" class="btn btn-info right">Ajouter</a>
      {% if lodgings %}
        <table>
          <tr>
            <th>Nom</th>
            <th>Image</th>
            <th>Actions</th>  
          </tr>          
          {% for lodging in lodgings %}
            <tr class="lodging">
              <td>{{lodging.name}}</td>
              <td>        
                {% if lodging.image %}
                  <img src="/upload/lodging/{{ lodging.image }}" />
                {% endif %}
              </td>
              <td>
                <a href="{{ path_for('admin_lodging_edit',  { 'id': lodging.id }) }}" class="btn btn-success edit">Modifier</a> <br>
                <a href="{{ path_for('admin_lodging_delete',  { 'id': lodging.id }) }}" class="btn btn-danger delete">Supprimer</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div>
          Il n'y a pas de lodging pour l'instant, pourquoi ne pas en <a href="{{ path_for('admin_lodging_create') }}">ajouter</a> une ?
        </div>
      {% endif %}
    </div>
  </div>

  {% include 'admin/shared/popin-valid.html.twig' %}
{% endblock %}