{% extends "admin/base.html.twig" %}

{% block container %}
  <div class="photos">
    <div class="photos-list">
      <a href="{{ path_for('admin_photo_create') }}" class="btn btn-info">Ajouter</a>
      {% if photos %}
        <table>
          <tr>
            <th>Nom</th>
            <th>Image</th>
            <th>Actions</th>  
          </tr>          
          {% for photo in photos %}
            <tr class="photo">
              <td>{{photo.title}}</td>
              <td>        
                {% if photo.image %}
                  <img src="/upload/photo/{{photo.image}}" />
                {% endif %}
              </td>
              <td>
                <a href="{{ path_for('admin_photo_edit',  { 'id': photo.id }) }}" class="btn btn-success edit">Modifier</a> <a href="{{ path_for('admin_photo_delete',  { 'id': photo.id }) }}" class="btn btn-danger delete">Supprimer</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div>
          Il n'y a pas de photo pour l'instant, pourquoi ne pas en <a href="{{ path_for('admin_photo_create') }}">ajouter</a> une ?
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}