<div class="header">
  <img src="assets/img/header.jpg" />
  <div class="topnav-container">
    <ul class="topnav">
      <li><a href="{{ path_for('about_index') }}">Qui sommes-nous</a></li>
      <li><a href="{{ path_for('lodging_index') }}">Hébergement</a></li>
      <li><a href="{{ path_for('service_index') }}">Services</a></li>
      <li><a href="{{ path_for('photo_index') }}">Photos</a></li>
      <li><a href="{{ path_for('infos_index') }}">Infos pratiques</a></li>
      <li class="icon">
        <span class="toggle-nav">&#9776;</span>
      </li>
    </ul>
  </div>
</div>