{% extends "base.html.twig" %}

{% block container %}
  <div class="infos clearfix">
    <div class="contact col-xs-12 col-md-6">
      <div class="title">Nous contacter</div>

      {% if infos.phone or infos.mail or infos.facebook %}
        <div class="detail">
          {% if infos.phone %}
            <i class="fa fa-phone-square" aria-hidden="true"></i> {{ infos.phone }}
            <br />
          {% endif %}
          {% if infos.mail %}
            <a href="mailto:{{ infos.mail }}" target="_blank">
              <i class="fa fa-envelope" aria-hidden="true"></i> {{ infos.mail }}
            </a>
            <br />
          {% endif %}
          {% if infos.facebook %}
            <a href="{{ infos.facebook }}" target="_blank">
              <i class="fa fa-facebook-square" aria-hidden="true"></i> {{ infos.facebook }}
            </a>
          {% endif %}
        </div>
      {% endif %}
      <form class="contact_form" action="{{ path_for('infos_contact') }}" method="POST" enctype="multipart/form-data">
        Formulaire de contact<br/><br/>
        <div class="row">
          <label for="nom">Nom</label><br />
          <input class="nom" class="input" nom="nom" type="text" placeholder="Votre nom" /><br />
        </div>
        <div class="row">
          <label for="prenom">Prénom</label><br />
          <input class="prenom" class="input" prenom="prenom" type="text" placeholder="Votre prenom" /><br />
        </div>
        <div class="row">
          <label for="email">Email</label><br />
          <input class="email" class="input" name="email" type="text" placeholder="Votre email" /><br />
        </div>
        <div class="row">
          <label for="message">Message</label><br />
          <textarea class="message" class="input" name="message" placeholder="Votre message"></textarea><br />
        </div>
        <button type="submit" class="btn btn-success right"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer</button>
      </form>  
    </div>         
  
    <div class="map col-xs-12 col-md-6">
      <div class="title">Nous trouver</div>

      <div class="map-container"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if infos.lat and infos.lng %}
    <script>
      const COORD = {
        'lat' : {{ infos.lat }},
        'lng' : {{ infos.lng }}
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=app.initMap"></script>
  {% endif %}
{% endblock %}