{% extends "base.html.twig" %}

{% block container %}
  <div class="infos clearfix">
    <div class="contact col-xs-12 col-md-6">
      <div class="title">Nous trouver</div>

      {% if infos.findUs %}
        <div class="detail">
          {{ infos.findUs|raw }}
        </div>
      {% endif %}
      <div class="title">Nous contacter</div>

      {% if infos.phone or infos.mail or infos.facebook %}
        <div class="detail">
          {% if infos.phone %}
            <i class="icon-phone-square" aria-hidden="true"></i> {{ infos.phone }}
            <br />
          {% endif %}
          {% if infos.mail %}
            <a href="mailto:{{ infos.mail }}" target="_blank">
              <i class="icon-envelope" aria-hidden="true"></i> {{ infos.mail }}
            </a>
            <br />
          {% endif %}
          {% if infos.facebook %}
            <a href="{{ infos.facebook }}" target="_blank">
              <i class="icon-facebook-square" aria-hidden="true"></i> La Kaze de passage
            </a>
          {% endif %}
        </div>
      {% endif %}
      </form>  
    </div>         
  
    <div class="map col-xs-12 col-md-6">
      <div class="title">Emplacement</div>

      <div class="map-container"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if infos.lat and infos.lng %}
    <script>
      const COORD = {
        'lat' : {{ infos.lat }},
        'lng' : {{ infos.lng }}
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=app.initMap"></script>
  {% endif %}
{% endblock %}